page-modal-maps-gps {

}

ion-modal.custom-modal-maps ion-backdrop {
    visibility: visible !important;
    z-index: 0;
}
ion-modal.custom-modal-maps .modal-wrapper{
    top: 10%;
    left: 4%;
    width: 60%;
    height: 600px;
    position: absolute;
}

.mapAllMarker {
    width: 100%;
    height: 400px;
    opacity: 0.9;
    border-bottom: 1px solid #cdcfd2;
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map{
        opacity: 1;
    }
}