page-modal {

}

ion-modal.custom-modal ion-backdrop {
    visibility: visible !important;
    z-index: 0;
}
ion-modal.custom-modal .modal-wrapper{
    top: 20%;
    left: 6%;
    width: 85%;
    height: 305px;
    position: absolute; 
}
