<!--
  Generated template for the StationDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- components header-menu -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
      </ion-avatar>
      <h2>{{ station?.name }}</h2>
      <p>Dirección mediante latitude y longitude</p>
    </ion-item>
  
    <img src="https://ionicframework.com/dist/preview-app/www/assets/img/advance-card-map-madison.png">
  
    <ion-card-content *ngIf="form">
      <form novalidate [formGroup]="form">
        <ion-list>
          <ion-item>
            <ion-label>Variables</ion-label>
            <ion-select formControlName="variables" (ngModelChange)="onChangeVariable($event)" multiple="true">
              <ion-option *ngFor="let value of selectVariables" [value]="value">{{ value.name }} ({{ value.symbol }})</ion-option>
            </ion-select>
          </ion-item>
        
          <ion-item>
            <ion-label>Range</ion-label>
            <ion-select formControlName="range" (ngModelChange)="onChangeRange($event)">
              <ion-option *ngFor="let value of selectRange" [value]="value">{{ value }} days</ion-option>
              <ion-option value="custom" (tap)="openDatePicker()">Custom Range</ion-option>
            </ion-select>
          </ion-item>    
        </ion-list>
      </form>
      {{ form.value | json }}
    </ion-card-content>

    <!-- Segment in content -->
    <ion-segment [(ngModel)]="segment" color="primary">
      <ion-segment-button value="graph">
        <button ion-button icon-left block clear>
          <ion-icon name="stats"></ion-icon>
          Graph
        </button>
      </ion-segment-button>
      <ion-segment-button value="table">
        <button ion-button icon-left block clear>
          <ion-icon name="list"></ion-icon>
          Table
        </button>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'graph'">
          <!-- Component Graph -->
          <app-graph *ngIf="typeGraph === 'float'" [data]="dataGraph" [range]="rangeGraph" [symbol]="symbolGraph"></app-graph>
          <app-graph-bars *ngIf="typeGraph === 'string'" [data]="dataGraph" [range]="rangeGraph" [symbol]="symbolGraph"></app-graph-bars>
          <ion-card *ngIf="typeGraph === 'errorGraph'">
            <ion-card-content>
              Can not create a graph with variables float and string type
            </ion-card-content>
          </ion-card>
      </div>
      
      <ion-list *ngSwitchCase="'table'">
        <ion-item>
          <!-- Component Table Data -->
          <app-table-data [data]="dataTable" [range]="rangeGraph"></app-table-data>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>

  <ion-card *ngIf="station">
    <widget-weather *ngIf="station.type_device === 'station'" [latitude]="station.latitude" [longitude]="station.longitude"></widget-weather>
  </ion-card>
</ion-content>
