<!--
  Generated template for the StationDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- components header-menu -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card class="bg-grid-white">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item class="no-padding">
            <h2 class="font17 bold">{{ station?.name }}</h2>
            <p>Dirección mediante latitude y longitude</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Form -->
    <ion-grid class="bg-grid">
      <form novalidate *ngIf="form" [formGroup]="form">
        <ion-row>
          <ion-col col-12>
              <h2 item-start class="font20 color-white light">Latest Data</h2>    
          </ion-col>
          
          <ion-col col-12>
            <ion-item item-start class="font-fira">
              <ion-label class="bold color-blue">Variables:</ion-label>
              <ion-select class="bold color-black" formControlName="variables" (ngModelChange)="onChangeVariable($event)" multiple="true">
                <ion-option *ngFor="let value of selectVariables" [value]="value">{{ value.name }} ({{ value.symbol }})</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col col-12>
            <ion-item item-end>
              <ion-label class="bold color-blue">Range</ion-label>
              <ion-select class="bold color-black" formControlName="range" (ngModelChange)="onChangeRange($event)">
                <ion-option *ngFor="let value of selectRange" [value]="value">{{ value }} days</ion-option>
                <ion-option value="custom" (tap)="openDatePicker()">Custom Range</ion-option>
              </ion-select>
            </ion-item> 
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
    
    <div class="divider-xs"></div>

    <!-- Tabs for select Graph or Table --> 
    <ion-grid class="bg-grid-white padding-6">
      <ion-row>
        <ion-segment [(ngModel)]="segment">
          <ion-segment-button value="graph">
              Graph
          </ion-segment-button>
          <ion-segment-button value="table">
              Table
          </ion-segment-button>
        </ion-segment>
      </ion-row>
    </ion-grid>

    <!-- Show segment select -->
    <div [ngSwitch]="segment" class="padding-6 bg-grid-white">
      <!-- Show Graph -->
      <div *ngSwitchCase="'graph'">
        <ion-grid class="bg-grid-white">
          <ion-row>
            <ion-col col-12>
              <!-- Component Graph -->
              <app-graph *ngIf="typeGraph === 'float'" [data]="dataGraph" [range]="rangeGraph" [symbol]="symbolGraph"></app-graph>
              <app-graph-bars *ngIf="typeGraph === 'string'" [data]="dataGraph" [range]="rangeGraph" [symbol]="symbolGraph"></app-graph-bars>
              
              <!-- If not data show error -->
              <ion-card *ngIf="typeGraph === 'errorGraph'">
                <ion-card-content>
                  Can not create a graph with variables float and string type
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      
      <!-- Show Table -->
      <div *ngSwitchCase="'table'" class="padding-6 bg-grid-white">
        <!-- Component Table Data -->
        <app-table-data [data]="dataTable" [range]="rangeGraph"></app-table-data>
      </div>

    </div> <!-- end ngSwitch segment -->
  </ion-card>

  <ion-card *ngIf="station?.type_device === 'station'">
    <widget-weather [latitude]="station.latitude" [longitude]="station.longitude"></widget-weather>
  </ion-card>
</ion-content>
