<!-- Generated template for the StationComponent component -->
<ion-card *ngFor="let station of stations">
  <div style="position: relative">
    <!-- Component maps station -->
    <app-maps-station *ngIf="station.type_device === 'station'" [latitude]="station.latitude" [longitude]="station.longitude" [typeDevice]="station.type_device" [idmap]="station.id"></app-maps-station>
    <app-maps-station *ngIf="station.type_device === 'gps'" [latitude]="station.latest_data[0].value" [longitude]="station.latest_data[1].value" [typeDevice]="station.type_device" [idmap]="station.id"></app-maps-station>

    <!--<ion-fab *ngIf="station.type_device === 'gps' && station.latest_data[2].value === 'PARADO'" right top color="danger">
    <ion-fab *ngIf="station.type_device === 'gps' && station.latest_data[2].value === 'DESPLAZAMIENTO'" right top color="bg-navbar">
    <ion-fab *ngIf="station.type_device === 'station'" right top>-->
    <ion-fab right top>
      <button ion-fab class="fab-map"> 
        <ion-icon *ngIf="station.type_device === 'station'" name='thermometer'></ion-icon>
        <ion-icon *ngIf="station.type_device === 'gps'" name='car'></ion-icon>
      </button> 
    </ion-fab>
  </div>

  <ion-grid class="bg-grid-white">
    <ion-row>
      <ion-col col-6>
        <ion-item class="padding-left-0">
          <h2 item-start class="font17 margin-top-9 bold">{{ station.name }}</h2>    
        </ion-item>
      </ion-col>
    
      <ion-col col-6 *ngIf="station.type_device === 'station'">
        <ion-item class="padding-right-0">
          
          <button *ngIf="station.latest_data[0].value > 30" color="success" class="font17 bold no-padding no-margin" ion-button icon-left clear item-end (tap)="getMoreDetails(station.id)">
            <img src="assets/icon/ok-battery.png">
            {{ station.latest_data[0].value }} %
        </button>

          <button *ngIf="station.latest_data[0].value <= 30" color="danger" class="font17 bold no-padding no-margin" ion-button icon-left clear item-end (tap)="getMoreDetails(station.id)">
              <img src="assets/icon/low-battery.png">
              {{ station.latest_data[0].value }} %
          </button>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
   
  <ion-grid class="bg-grid">
    <ion-row>
      
      <ion-col col-12>
          <h2 item-start class="font20 color-white light">Lasted Data</h2>    
      </ion-col>
      
      <ion-col col-4 *ngFor="let data of station.latest_data">
        <ion-item class="font-fira">
          <!--<ion-icon name="football" colors="danger" item-start></ion-icon>-->
          <h2 class="bold color-blue">{{ data.value }} {{ data.symbol }}</h2> <!-- explicity set the icon for each mode -->
          <p class="bold color-black">{{ data.name }}</p>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>



  <!--<ion-slides [slidesPerView]="options.slidesPerView">
    <ion-slide *ngFor="let data of station.latest_data">
      <ion-item>
        <ion-icon name="football" colors="danger" item-start large></ion-icon>
        <h2>{{ data.name }}</h2> 
        <p>{{ data.value }} {{ data.symbol }}</p>
      </ion-item>
    </ion-slide>
  </ion-slides>-->

  <ion-item>
    <button ion-button icon-left clear item-start (tap)="openModalEditDevice(station.id, station.name)">
      <ion-icon name="create"></ion-icon>
      Edit
    </button>

    <button ion-button icon-left clear item-end (tap)="getMoreDetails(station.id)">
      <ion-icon name="navigate"></ion-icon>
      More details
    </button>
  </ion-item>

</ion-card>
