<!--
  Generated template for the AddVariablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

    <ion-grid>
      <ion-row>    
        <ion-col col-6>
          <ion-title class="padding-6">Add Variables</ion-title>
        </ion-col>

        <ion-col col-6>
          <ion-buttons end>
            <button ion-button icon-only (tap)="goToHome(idUser)">
              <ion-icon name="home"></ion-icon>
            </button>
            <button ion-button icon-only (tap)="logout()">
              <ion-icon name="log-out"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>     
    <ion-grid class="bg-grid-white">
      <form novalidate *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-input type="hidden" formControlName="station_id" value="{{ idStation }}"></ion-input>

          <ion-col col-12>
            <ion-item item-start class="font-fira border-bottom">
              <ion-label class="bold color-blue">Code:</ion-label>
              <ion-input type="text" formControlName="code"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col col-12>
            <ion-item class="alert alert-danger" *ngIf="form.get('code').hasError('required') && form.get('code').touched 
            || ( form.get('code').hasError('maxlength') || form.get('code').hasError('minlength') )">
            <p class="color-darkred white-space-normal">Code <strong>is required</strong>, <strong>max length 15 caracter</strong> and <strong>min length 3 caracter</strong></p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <ion-item item-start class="font-fira border-bottom">
              <ion-label class="bold color-blue">Name:</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>
  
          <ion-col col-12>
              <ion-item class="alert alert-danger" *ngIf="form.get('name').hasError('required') && form.get('name').touched 
              || ( form.get('name').hasError('maxlength') || form.get('name').hasError('minlength') )">
              <p class="color-darkred white-space-normal">Name <strong>is required</strong>, <strong>max length 24 caracter</strong> and <strong>min length 4 caracter</strong></p>
              </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <ion-item item-start class="font-fira border-bottom">
              <ion-label class="bold color-blue">Symbol:</ion-label>
              <ion-input type="text" formControlName="symbol"></ion-input>
            </ion-item>
          </ion-col>
  
          <ion-col col-12>
              <ion-item class="alert alert-danger" *ngIf="form.get('symbol').touched 
              && ( form.get('symbol').hasError('maxlength') || form.get('symbol').hasError('minlength') )">
              <p class="color-darkred white-space-normal">Symbol <strong>is NOT required</strong>, but <strong>max length 4 caracter</strong></p>
              </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
              <ion-item item-start class="font-fira border-bottom">
                <ion-label class="bold color-blue">Color:</ion-label>
                <ion-input type="color" value="#000000" formControlName="color"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-12>
              <ion-item class="alert alert-danger" *ngIf="form.get('color').touched 
              && ( form.get('color').hasError('maxlength') || form.get('color').hasError('minlength') )">
              <p class="color-darkred white-space-normal">Color <strong>is NOT required</strong>, <strong>length 7 caracter</strong></p>
              </ion-item>
            </ion-col>
        </ion-row>
 
        <ion-row>
          <ion-col col-12>
            <ion-item item-start class="font-fira border-bottom">
                <ion-label class="bold color-blue" stacked>Type View Human:</ion-label>
                <ion-select (ionChange)="onChangeTypeViewHuman($event)" interface="popover">
                  <ion-option value="" selected>Select option</ion-option>
                  <ion-option value="operation">Operation</ion-option>
                  <ion-option value="case">Switch case</ion-option>
                </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <!-- Case Operation -->
        <ion-row *ngIf="type_viewhuman == 'operation'">
          <ion-col col-12 padding>
            <p class="bold color-blue">View Human:</p>
            <p class="font-roboto font12 bold">def function( value ):</p>
            <ion-input class="font-roboto italic border font12" type="text" formControlName="view_human" placeholder="Enter a operation. Ex: value * 1000 / 2"></ion-input>
            <p class="font-roboto font12 bold">end</p>
          </ion-col>
        </ion-row>
        <!-- end case operation -->

        <!-- Case Switch case -->
        <ng-container *ngIf="type_viewhuman == 'case'">
          <div formArrayName="switch_case" *ngFor="let item of groupSwitch.controls; let i = index">
            <ion-row [formGroupName]="i">
              <ion-col col-4 *ngIf=" i != groupSwitch.controls.length - 1">
                <ion-item>
                  <ion-label class="bold color-blue" stacked>Value min:</ion-label>
                  <ion-input formControlName="value_min" placeholder="0" (ionBlur)="onChangeGroupSwitch()"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-4 *ngIf=" i != groupSwitch.controls.length - 1">
                <ion-item>
                  <ion-label class="bold color-blue" stacked>Value max:</ion-label>
                  <ion-input formControlName="value_max" placeholder="400" (ionBlur)="onChangeGroupSwitch()"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-4>
                <ion-item>
                  <ion-label class="bold color-blue" stacked>Return:</ion-label>
                  <ion-input formControlName="return" placeholder="text" (ionBlur)="onChangeGroupSwitch()"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>

          <ion-row>
            <ion-col col-12 padding>
              <p class="bold color-blue">Result swith case:</p>
              <p class="font-roboto font12 bold">def function( value ):</p>
              <ion-textarea class="font-roboto italic border font12" type="text" formControlName="view_human" readonly="true"></ion-textarea>
              <p class="font-roboto font12 bold">end</p>
            </ion-col>
          </ion-row>
        </ng-container>
        <!-- end case switch case -->

        <ion-row>
          <ion-col col-12 *ngIf="type_viewhuman">
              <button ion-button color="day-weather" block icon-left (tap)="onSubmitTestViewHuman()">
                  <ion-icon name="code-working"></ion-icon>
                  Test view human
              </button>
          </ion-col>
          <ion-col col-12>
            <button ion-button block icon-right [disabled]="form.invalid">
              Create
              <ion-icon name="arrow-dropright-circle"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card>
</ion-content>
