page-modal-update-device {

}

ion-modal.custom-modal-update ion-backdrop {
    visibility: visible !important;
    z-index: 0;
}
ion-modal.custom-modal-update .modal-wrapper{
    top: 20%;
    left: 6%;
    width: 85%;
    height: 250px;
    position: absolute;
}
