<!--
  Generated template for the ModalUpdateDevicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>modalUpdateDevice</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form novalidate *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <!--<ion-label color="primary">Name</ion-label>-->
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item class="alert alert-danger" *ngIf="form.get('name').hasError('required') && form.get('name').touched 
                                                        || ( form.get('name').hasError('maxlength') || form.get('name').hasError('minlength') )">
        <p style="color:darkred">Name <strong>is required</strong>, <strong>max length 128 caracter</strong> and <strong>min length 10 caracter</strong></p>
      </ion-item>
    </ion-list>

    <div padding>
      <button ion-button block icon-right [disabled]="form.invalid">
        Update
        <ion-icon name="arrow-dropright-circle"></ion-icon>
      </button>

      <button ion-button color="danger" block icon-left (tap)="cancelModal()">
        <ion-icon name="close-circle"></ion-icon>
        Cancel
      </button>
    </div>
  </form>
  <div *ngIf="form">
      {{ form.value | json }}
  </div>
</ion-content>
