<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- components header-menu -->
<ion-header>
  <ion-navbar>

    <ion-grid>
      <ion-row>
        <ion-col col-1>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
        
        <ion-col col-5>
          <ion-title class="padding-6">Home</ion-title>
        </ion-col>

        <ion-col col-6>
          <ion-buttons *ngIf="!showsearch" end>
            <button ion-button icon-only (tap)="showSearch()">
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

  <ion-grid *ngIf="showsearch" class="no-padding bg-grid">
    <ion-row>
      <ion-col col-12>
        <ion-searchbar class="no-padding" (ionInput)="getItems($event)" (ionCancel)="cancelSearch($event)" [showCancelButton]="optionSearch.showButton" [animated]="optionSearch.animated" [debounce]="optionSearch.debounce"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <!-- components station -->
  <app-station></app-station>
</ion-content>
