// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import "ionic.globals";

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$text-color: #404040;
$background-color: #f5f5f5;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #073763,
  text-blue: #073763,
  text-white: #fff,
  text-black: #000,
  secondary: #5b5ef4,
  success: #28a745,
  danger: #f53d3d,
  darkred: #cf2a27,
  bg-navbar: #073763,
  bg-searchbar: #e1e9ee,
  bg-grid: #7a8b98,
  day-weather: #00afbe,
  test-view: #9fc5f8,
  info-weather: #f7f6f5
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Roboto:400,500,700|Ubuntu:300,400,500,700');
//@import "roboto";
//@import "noto-sans";
//font-family: 'Fira Sans', sans-serif;
//font-family: 'Roboto', sans-serif;
//font-family: 'Ubuntu', sans-serif;

/* Property APP */
ion-app {
  font-family: 'Ubuntu', sans-serif !important;
} 

ion-content {
  background: $background-color;
}

/* Custom CSS */
.font12 { 
  font-size: 1.2rem !important; /* 12px */
}

.font13 { 
  font-size: 1.3rem !important; /* 13px */
}

.font14 { 
  font-size: 1.4rem !important; /* 14px */
}

.font17 { 
  font-size: 1.7rem !important; /* 17px */
}

.font18 { 
  font-size: 1.8rem !important; /* 17px */
}

.font20 { 
  font-size: 2rem !important; /* 20px */
}

.font45 { 
  font-size: 4.5rem !important; /* 45px */
}

.block {
  display: block !important;
}

.bold {
  font-weight: 500 !important;
}

.italic {
  font-style: italic !important;
}

.light {
  font-weight: 300 !important;
}

.align-right {
  text-align: right;
}

.white-space-normal {
  white-space: normal;
}

.color-white {
  color: color($colors, text-white) !important;
}

.color-black {
  color: color($colors, text-black) !important;
}

.color-blue {
  color: color($colors, text-blue) !important;
}

.color-darkred {
  color: color($colors, darkred) !important;
}

.color-day-weather {
  color: color($colors, day-weather) !important;
}

.font-fira {
  font-family: 'Fira Sans', sans-serif !important;
}

.font-roboto {
  font-family: 'Roboto', sans-serif !important;
}

.padding-6 {
  padding-top: 0.6rem !important;
}

.padding-8 {
  padding-top: 0.8rem !important;
}

.padding-left-0 {
  padding-left: 0rem !important;
}

.padding-right-0 {
  padding-right: 0rem !important;
}

.no-padding {
  padding: 0rem !important;
}

.no-margin {
  margin: 0rem !important;
}

.margin-top-9 {
  margin-top: 0.9rem !important;
}

.card-md, .card-ios, .card-wp {
  border: 1px solid #ccc !important;
}

.item-md, .item-ios, .item-wp {
  background: color($colors, text-white) !important;
}

.bg-danger {
  background: color($colors, danger) !important;
}

.bg-grid {
  background: color($colors, bg-grid) !important;
}

.bg-grid-white {
  background: color($colors, text-white) !important;
}

.bg-grid-info-weather {
  background: color($colors, info-weather) !important;
}

.divider-xs {
  height: 1.5rem;
}

.no-bg {
  background: transparent !important;
}

.border-top {
  border-top: 1px solid #cdcfd2 !important;
}

.border-bottom {
  border-bottom: 1px solid #cdcfd2 !important;
}

.border {
  border: 1px solid #cdcfd2 !important;
}

/* CSS Mobile */
@media (max-width: 500px) {
  .label-md {
      margin-right: 0px !important;
  }

  .font45 { 
    font-size: 3rem !important; /* 30px */
  }

  .font14 { 
    font-size: 1.2rem !important; /* 12px */
  }
}

/* CSS Tablet */
@media (min-width: 768px) {
  .font45 { 
    font-size: 6.5rem !important; /* 65px */
  }

  .font14 { 
    font-size: 2.4rem !important; /* 24px */
  }

  .font20{
    font-size: 3.1rem !important; /* 31px */
  } 
}

/* CSS Desktop */
@media (min-width: 992px) {
  .font45 { 
    font-size: 8.5rem !important; /* 85px */
  }

  .font14 { 
    font-size: 2.4rem !important; /* 24px */
  }

  .font20{
    font-size: 3rem !important; /* 30px */
  }
}

.shadow {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(140,140,140,1) !important;
  -moz-box-shadow: 2px 2px 5px 0px rgba(140,140,140,1) !important;
  box-shadow: 2px 2px 5px 0px rgba(140,140,140,1) !important;
}

/* NavBar */
$color-text-icon-navbar: color($colors, text-white);
$border-radius-4: 0.4px; /* 4px */
$font-weight-400: 400;
$font-size-18: 1.8rem; /* 17px */

$toolbar-ios-title-text-color: $color-text-icon-navbar;
$toolbar-md-title-text-color: $color-text-icon-navbar;
$toolbar-wp-title-text-color: $color-text-icon-navbar;	

$toolbar-ios-button-border-radius: $border-radius-4;
$toolbar-wp-button-border-radius: $border-radius-4;
$toolbar-md-button-border-radius: $border-radius-4;

$toolbar-ios-button-color: $color-text-icon-navbar;
$toolbar-md-button-color: $color-text-icon-navbar;
$toolbar-wp-button-color: $color-text-icon-navbar;

$toolbar-ios-title-font-weight: $font-weight-400;
$toolbar-wp-title-font-weight: $font-weight-400;

$toolbar-ios-title-font-size: $font-size-18;
$toolbar-md-title-font-size: $font-size-18;
$toolbar-wp-title-font-size: $font-size-18;

.toolbar-background-md, .toolbar-background-ios, .toolbar-background-wp {
  background: color($colors, bg-navbar) !important;
}

.toolbar-md, .toolbar-ios, .toolbar-wp {
  padding-right: 2.5rem !important; /* 25px */
}

/* SearchBar */
$searchbar-ios-background-color: color($colors, bg-searchbar) !important;
$searchbar-md-input-background-color: color($colors, bg-searchbar) !important;
$searchbar-wp-background-color: color($colors, bg-searchbar) !important;

$searchbar-ios-input-search-icon-color: color($colors, bg-navbar) !important;
$searchbar-wp-input-search-icon-color: color($colors, bg-navbar) !important;
$searchbar-md-input-search-icon-color: color($colors, bg-navbar) !important;

$searchbar-ios-input-text-color: color($colors, bg-navbar) !important;
$searchbar-md-input-text-color: color($colors, bg-navbar) !important;
$searchbar-wp-input-text-color: color($colors, bg-navbar) !important;

/* Toast Login */
$toast-ios-background: color($colors, danger) !important;
$toast-md-background: color($colors, danger) !important;
$toast-wp-background: color($colors, danger) !important;
$toast-ios-border-radius: 65rem;
$toast-wp-border-radius: 65rem;